<!DOCTYPE html>
<html>
{% block head %}   {% endblock %}

<body id="page-top">
{% block body %}

    <!-- Navigation -->
    {% block navbar %}{% endblock %}

    <!-- Header -->
    {% block header %}{% endblock %}

    {% block container %}
        <!-- Panel Grid Section -->
        {% block panel %}{% endblock %}

        <!-- About Section -->
        {% block about %}{% endblock %}

        <!-- Contact Section -->
        {% block contact %}{% endblock %}

    {% endblock %}

    <!-- Footer -->
    {% block footer %}{% endblock %}

    <!-- copyright -->
    {% block copyright %}{% endblock %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    {% block scroll %}{% endblock %}

    <!-- Portfolio Modals -->
    {% block portfolioresto %}{% endblock %}

    {% block javascriptbody %}{% endblock %}

{% endblock %}

</body>
</html>