    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="{{  asset('template/img/api/chef_capture_6.png') }}" alt="">
            <h1 class="text-uppercase mb-0">Start your command</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Commandez en ligne - Commander votre plat cuisiner en quelque click</h2>
        </div>
    </header>