<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Restaurants</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->

            <!-- START CARD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item d-block mx-auto border-carousel" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="">

                    <div class="portfolio-body">
                        <h4 class="portfolio-title text-left">Card title</h4>
                        <p class="portfolio-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="star-gal pb-2">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD -->
        </div>
    </div>
    </div>
</section>